  li {
  border: solid;
  color: #b5b500;
  font-size: 2em;
  background-color: black;
  list-style: none;
  border-radius: 15px;
  width: 6em;
  border-width: 3px;
  margin: auto;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 5px;
}
h1 {
  text-align: center;
  border: solid;
  border-radius: 16px;
  font-size: 50px;
  color: #b5b500;
  background-color: black;
}
body {
  text-align: center;
  background-color: rgb(248, 207, 82)
}
input {
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 2em;
  color: black;
  background-color: silver;
}
button {
  border: solid;
  border-radius: 12px;
  font-size: 20px;
  color: #b5b500;
  background-color: black;
}
.reset {
  float: right;
}
.add {
  display: inline-block;
  align-self: center;
  margin-left: 4em;
}
.filter {
  display: run-in;
  align-self: center;
